.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

/*
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}*/

.App-title {
  font-size: 1.5em;
  color: white;
}

@keyframes App-logo-spin {
  to { transform: rotate(360deg) }
  from { transform: rotate(0deg); }
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 500px;
  line-height: 500px;
  background: #EFEFEF;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #262626;
}

.ant-carousel .slick-dots li button {
  border-radius: none;
}

.ant-carousel .slick-dots li {
  background: #262626;
  border-radius: 2px;
}

.Lists-title {
  padding: 30px;
  font-size: 60px;
}