.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

/*
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}*/

.App-title {
  font-size: 1.5em;
  color: white;
}

@keyframes App-logo-spin {
  to { transform: rotate(360deg) }
  from { transform: rotate(0deg); }
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 600px;
  background: #EFEFEF;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #262626;
}

.ant-carousel .slick-dots li button {
  border-radius: none;
}

.ant-carousel .slick-dots li {
  background: #262626;
  border-radius: 2px;
}

.lists-title {
  margin: 0px;
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 60px;
}

.menu-float-left {
  float: left;
}

.menu-float-right {
  float: right;
}

.icon-menu {
  font-size: 16px;
}

.submenu-center {
  text-align: center;
}

.ant-drawer-body {
  padding: 0px;
}

.ant-tabs-nav {
  float: left;
}

.carousel-title {
  text-align: left;
  margin: 0px;
  margin-top: 50px;
  line-height: 150px;
  font-size: 48px;
  
}

.carousel-img {
  width: 400px;
  line-height: 600px;
}

.carousel-text {
  text-align: right;
  font-size: 20px;
  width: 100%;
  text-overflow: clip;
  overflow: visible;
}

.carousel-btn {
  float: right;
}